<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>orion</title>
    <style type="text/css">
        [v-cloak] {
         display: none;
        }
    </style>
</head>
<body style="user-select:none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;">
    orion 0.2.10
    <hr/>
    <div v-cloak id='recent'>
        Save Data({{ recent_range }}):<br/>
        <select v-model='selected' style='width:300px;' autocomplete='off' >
            <option v-for="option in options" v-bind:value="option.value"> {{ option.html }} </option>
        </select>
        <button v-on:click='recent_backward_click'>&lt&lt</button> 
        <button v-on:click='recent_forward_click'>&gt&gt</button>
        <button v-on:click='recent_load_click'>Load</button>
    </div>

    <hr/>
    <input id='wave_play' type='button' style='width:60px;' value='Play' />
    <input id='wave_save' type='button' style='width:60px;' value='Save' />
    <input id='wave_file' type='file' disabled='disabled' accept='audio/*' autocomplete='off' />
    <br/>
    Volume:<input id='slider_volume' type='range' style='width:200px;' min='0' max='1' step='0.01' autocomplete='off' />
    <span id='text_volume'></span>
    <hr/>
    MIDI Device:<span id='text_midi_in_device'>-</span> / MIDI Message:<span id='text_midi_msg'>0x00 0x00 0x00</span><br/>
    <hr/>
    <canvas id='work_view' style='cursor:default;'></canvas>
    <br/>
    Ctrl1:
    <input id='button_ctrl1' type='button' value='Setting' style='width:60px;' />
    <input id='button_learn1' type='button' value='Learn' style='width:60px;' />
    <input id='slider_ctrl1' type='range' style='width:200px;' min='0' max='1' step='0.01' value='0.5' autocomplete='off' />
    <span id='text_ctrl1'></span>
    <br/>
    Ctrl2:
    <input id='button_ctrl2' type='button' value='Setting' style='width:60px;' />
    <input id='button_learn2' type='button' value='Learn' style='width:60px;' />
    <input id='slider_ctrl2' type='range' style='width:200px;' min='0' max='1' step='0.01' value='0.5' autocomplete='off' />
    <span id='text_ctrl2'></span>
    <br/>
    Ctrl3:
    <input id='button_ctrl3' type='button' value='Setting' style='width:60px;' />
    <input id='button_learn3' type='button' value='Learn' style='width:60px;' />
    <input id='slider_ctrl3' type='range' style='width:200px;' min='0' max='1' step='0.01' value='0.5' autocomplete='off' />
    <span id='text_ctrl3'></span>
    <br/>
    <br/>
    <input id='button_commit' type='button' style='width:60px;' value='Commit' />
    <input id='button_revert' type='button' style='width:60px;' value='Revert' />
    <input id='button_clear' type='button' style='width:60px;' value='Clear' />
    <hr/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src='orion.js'></script>
</body>
</html>
